.contain{
    margin-top: 130px;
    margin-bottom: 130px;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.heading{
    font-size: 40px;
    font-weight: bold !important;
    color: #253d2c;
    font-weight: 500;
}
.subHeading{
    font-size: 25px;
    color: #222a41;
    width: 100%;
}

.icon {
    font-size: 2rem; /* Adjust the icon size */
    color: #228B22; /* Change color as needed */
    margin-bottom: -70px; /* Adjust spacing */

}


@media screen and (max-width: 1200px) {
    .contain{
        margin-top: 80px;
        margin-bottom: 80px;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media screen and (max-width: 770px) {
    .subHeading{
        font-size: 25px;
        width: auto;
    }
    .heading{
        font-size: 20px;
    }
}

@media screen and (max-width: 430px) {
    .subHeading{
        font-size: 20px;
    }
    .heading{
        font-size: 17px;
    }
    .contain{
        margin-top: 80px;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 380px) {
    .contain{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}