.react-multi-carousel-dot > button{
    background-color: #00f0ff;
    border: 0px !important;
    width: 10px !important;
    height: 10px !important;
}
.react-multi-carousel-dot--active > button{
    background-color: #005a61 !important;
}