.contain{
    padding-top: 146px;
    padding-bottom: 145px;
   
}
.mainHead{
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: bold;
    color: #253d2c;
    margin-bottom: 30px;
    margin-top: -100px;
}
.mainContent{
    font-family: 'Poppins';
    font-size: 25px;
    color: #333;
    padding-bottom: 110px;
}
.box{
    background-color: #cfffdc;
    border: solid 3px rgba(46,111,64);
    border-radius: 10px;
    padding: 40px 27px 55.4px 28px;
    margin-top: -70px;
    margin-bottom: -50px;
}
.head{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    color: #222a41;
    margin-bottom: 23px;
    margin-top: 33px;
}
.content{
    font-family: 'Poppins';
    font-size: 18px;
    color: #222a41;
    opacity: .6;
}
.icon {
    font-size: 2.5rem;
    color: #228B22; /* Primary color for a cohesive design */
    margin-bottom: 1rem;
}


@media screen and (max-width: 992px) {
    .mainHead{
        font-size: 30px;
    }
    .mainContent{
        font-size: 18px;
        padding-bottom: 70px;
    }
    .contain{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .box{
        padding: 20px 10px 20px;
    }
    .head{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .content{
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .box{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 650px) {
    .contain{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .mainHead{
        font-size: 25px;
    }
    .mainContent{
        font-size: 16px;
    }
    .head{
        font-size: 18px;
    }
    .content{
        font-size: 15px;
    }
}